<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RockPaperCrap</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rockpaperscisors_0512.css') }}">
    </head>
    <body>
        <p>Wins: {{ wins }}</p>
        <p>Lossess: {{ losses }}</p>
        <p>Ties: {{ ties }}</p>
        
        <div id="master">
            <h1>Rock Paper Scissors game!</h1>
            <p>
                The server picked {{ server_choice }} <br>and your
                dumbass picked {{ user_choice }}, you {{ result }}
            </p>
            <form action="/rock" method="GET">
                <button type="submit" name="Rock">Rock</button>
            </form>

            <form action="/paper" method="GET">
                <button type="submit" name="paper">Paper</button>
            </form>

            <form action="/scissors" method="GET">
                <button type="submit" name="scissors">Scissors</button>
            </form>
        </div>  
    </body>
</html>